/* roboto-condensed-regular - latin */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto+Condensed:wght@700&display=swap');

body {
  margin: 30px;
  font-family: 'PT Serif', sans-serif;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #424242;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #424242;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #424242;
}

h4 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #424242;
}

#TOC {
  font-family: 'Roboto Condensed', sans-serif;
}